.header {
  max-width: 1260px;
  margin: 0 auto;
  padding: 15px 5px 0;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: blueviolet;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.streamingList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: end;
}

.streamingItem {
  margin-bottom: 8px;
}

.streamingItem:last-child {
  margin-bottom: 0;
}

.streamingLink {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 20px;
}

.streamingLink:hover {
  font-style: italic;
}

.title {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
