.container {
  max-width: 1260px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.authorLink {
  color: #fff;
}

.authorLink:hover {
  font-style: italic;
}

@media (max-width: 1279px) {
  .copyright {
    font-size: 15px;
  }
  .author {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    font-size: 12px;
  }
  .author {
    font-size: 12px;
  }
}
