@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: calc(100% - 40px);
  width: 100%;
}

.playerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.songContainer {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin: 7px 20px 0;
  flex-direction: column;
  overflow: hidden;
}

.playBtn {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-top: 7px;
}

.songContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 13px;
}

.songName {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
}

.songName_overflow {
  animation: ticker 15s linear infinite;
  padding-left: 100%;
}

.currentTime {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.progressBar {
  max-width: 100%;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress {
  display: block;
  height: 2px;
  background-color: #fff;
}

.togglePlaylist {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  margin-top: 7px;
}

.nativePlayer {
  display: none;
}

.penal {
  text-align: left;
  max-width: calc(100% - 80px);
  width: 100%;
  margin: 0 auto;
  height: 0;
  overflow: auto;
  transition: height .5s linear;
  box-sizing: border-box;
}

.penal_state_visible {
  height: 127px;
}

.lyricsBtn {
  margin: 0 20px 7px 0;
  background: none;
  border: 2px solid #fff;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 30px;
  white-space: nowrap;
  min-width: 135px;
}

.lyricsBtn:hover {
  font-style: italic;
}

.penalTitle {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 0 16px;
}

.releases {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lyrics {
  white-space: pre;
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.track {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 16px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track:hover {
  font-style: italic;
}

.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.9s ease;
  filter: blur(10px);
}

