@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

.root {
  min-height: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: url(./images/header-bg.jpg) repeat-y;
}
